html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    height: 600px;
}

.top-banner {
    margin-top: 80px;
}

.half-width {
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}

.motto-title {
    font-size: 60px;
    padding-top: 80px;
    color: #575757;
    font-weight: 900;
}

.orange-color {
    color: orange;
}

.description {
    font-size: 20px;
    color: #616161;
    margin-bottom: 50px;
    text-align: justify;
}

.link-btn {
    background-image: linear-gradient(45deg, orange, tomato);
    color: #fff;
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 30px;
    text-decoration: none;
}

.about-person img {
    padding-top: 40px;
    height: 560px;
}

.about-section {
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: left;
}

.about-me {
    padding-top: 100px;
    font-size: 50px;
    color: #707070;
}